<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Resume: Education')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='resume')"></nav>
<div class="container">

    <div th:replace="fragments/user-resume-nav :: resume-nav (currentPage='education')"></div>

    <div class="container-fluid">
        <h2>Desired Work Locations</h2>
    </div>

    <div class="row">
        <div class="col-md-7">
            <!-- Education panel -->
            <div class="panel panel-default resume-education-panel">
                <div class="panel-heading">
                    <div class="pull-left">
                        <span class="panel-title">Your Education</span>
                    </div>
                    <div class="pull-right">
                        <span th:class="'label text-right label-' + ${educationStatusColor}"
                              th:text="${educationStatus}">Status</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Provide information about the level of education you have obtained. This information helps
                        potential employers gauge the level of expertise you may have in your career field, and can
                        help identify those open positions for which you may qualify.</p>

                    <table class="table table-bordered resume-education-table">
                        <thead>
                            <tr>
                                <th class="education-institution-cell">Institution</th>
                                <th class="education-field-cell">Field of Study</th>
                                <th class="education-degree-cell">Degree</th>
                                <th class="text-center action-cell">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(educations)}">
                                <td class="text-center empty-cell" colspan="4">No education has been added yet.</td>
                            </tr>
                            <tr th:each="education : ${educations}">
                                <td class="education-institution-cell" th:text="${education.institution}">Institution
                                </td>
                                <td class="education-field-cell" th:text="${education.field}">Field of Study</td>
                                <td class="education-degree-cell" th:text="${education.degree}">Degree</td>
                                <td class="text-center action-cell">
                                    <a th:id="'edit-' + ${education.id}" href="#" class="label label-info"
                                       th:onclick="'edit(\'' + ${education.id} + '\', \'' + ${education.institution} + '\', \'' + ${education.field} + '\', \'' + ${education.degree} + '\');'">Edit</a>
                                    <a th:id="${education.id}" class="label label-danger" data-toggle="popover"
                                       data-placement="top">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <!-- Add/Update panel -->
            <div class="panel panel-default resume-education-panel">
                <div class="panel-heading">
                    <span class="panel-title" id="education-title">Add Education</span>
                </div>
                <div class="panel-body">
                    <p th:if="${educationMessage}" class="alert alert-info" th:text="${educationMessage}">
                        Message</p>

                    <form class="form-resume-education" name="educationForm" th:action="@{/user/resume/education}"
                          method="POST">

                        <input type="hidden" name="id" id="education-id"/>

                        <label for="education-institution" class="sr-only">Name of School, University, or
                            College</label>
                        <input type="text" name="institution" id="education-institution" class="form-control"
                               placeholder="Name of School, University, or College" required="required"
                               autofocus="autofocus"/>

                        <label for="education-field" class="sr-only">Field of Study (e.g., Computer Science)</label>
                        <input type="text" name="field" id="education-field" class="form-control"
                               placeholder="Field of Study (e.g., Computer Science)" required="required"
                               autofocus="autofocus"/>

                        <label for="education-degree" class="sr-only">Degree Obtained (e.g., None, B.S., M.S.,
                            etc.)</label>
                        <input type="text" name="degree" id="education-degree" class="form-control"
                               placeholder="Degree Obtained (e.g., None, B.S., M.S., etc.)" required="required"
                               autofocus="autofocus"/>

                        <div class="btn-group">
                            <button id="education-submit" class="btn btn-default btn-primary" type="submit">Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: function() {
                var str = 'Are you sure?<div class="text-center">';
                str += '<a href="#" class="label label-danger" onclick="remove(\'' + this.id + '\');">Yes</a> ';
                str += '<a href="#" class="label label-default" onclick="cancel();">No</a></div>';
                return str;
            }
        });
    });

    function remove(id) {
        document.location = '/user/resume/education/delete/' + id;
        $('[data-toggle="popover"]').popover('hide');
    }

    function cancel() {
        $('[data-toggle="popover"]').popover('hide');
    }

    function edit(id, institution, field, degree) {
        $('#education-id')[0].value = id;
        $('#education-institution')[0].value = institution;
        $('#education-institution')[0].focus();
        $('#education-field')[0].value = field;
        $('#education-degree')[0].value = degree;
        $('#education-submit')[0].innerHTML = 'Save';
        $('#education-submit').addClass('btn-success');
        $('#education-submit').removeClass('btn-primary');
        $('#education-title')[0].innerHTML = 'Edit Education';
    }
</script>
</body>
</html>
