<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Resume: Overview')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='resume')"></nav>
<div class="container">

    <div class="row resume-row">
        <div class="col-md-2 well well-sm">
            <!-- Navigation -->
            <div th:replace="fragments/user-resume-nav :: resume-nav (currentPage='overview')"></div>
        </div>
        <div class="col-md-10 resume-content-container">
            <!-- Content -->
            <h2>Resume Overview</h2>

            <p th:if="${overviewMessage}" th:text="${overviewMessage}" class="alert alert-info">Error Message</p>

            <div class="row">
                <div class="col-md-3">
                    <h4>Your Current Task:</h4>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <p th:if="${not resume.isComplete()}">
                                Complete each section of your resume. Use the resume navigation menu on the left to
                                determine which sections still need to be completed (those without check-marks). Make
                                sure you fill out each section completely.</p>
                            <p th:if="${resume.canPublish()}">
                                Publish your resume - it looks like all of the sections have been completed so it is
                                time to get your resume out there in front of potential employers for review.</p>
                            <p th:if="${resume.isPublished()}">
                                Monitor statistics about companies reviewing your resume to the right. If you accept an
                                offer for employment from a company, unpublish your resume.</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Resume Status:</h4>

                    <ul class="list-group">
                        <li class="list-group-item">&nbsp;
                            <div class="pull-left">
                                Completion Status:
                            </div>
                            <div class="pull-right">
                                <span th:if="${resume.isComplete()}" class="label label-success">Complete</span>
                                <span th:if="${not resume.isComplete()}" class="label label-info">Incomplete</span>
                            </div>
                        </li>
                        <li class="list-group-item">&nbsp;
                            <div class="pull-left">
                                Publish Status:
                            </div>
                            <div class="pull-right">
                                <span th:if="${resume.isPublished()}" class="label label-success"
                                      th:text="${resume.resume.status.getDisplayName()}">Published</span>
                                <span th:if="${resume.isUnpublished()}" class="label label-info"
                                      th:text="${resume.resume.status.getDisplayName()}">Unpublished</span>
                                <span th:if="${resume.isExpired()}" class="label label-warning"
                                      th:text="${resume.resume.status.getDisplayName()}">Expired</span>
                                <span th:if="${resume.isDeactivated()}" class="label label-danger"
                                      th:text="${resume.resume.status.getDisplayName()}">Deactivated</span>
                            </div>
                        </li>
                        <li class="list-group-item text-center" th:if="${resume.canPublish()}">
                            <a th:href="@{/user/resume/overview/publish}" class="btn btn-default btn-success">
                                Publish Now!</a>
                        </li>
                        <li class="list-group-item text-center" th:if="${resume.isPublished()}">&nbsp;
                            <div class="pull-left">
                                Expiration:
                            </div>
                            <div class="pull-right" th:text="${resume.resume.getExpiration('MMM dd, HH:mm a')}">
                                Expiration
                            </div>
                        </li>
                        <li class="list-group-item text-center" th:if="${resume.canUnpublish()}">
                            <a th:href="@{/user/resume/overview/unpublish}" class="btn btn-default btn-info">
                                Unpublish</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-5" th:if="${resume.isPublished()}">
                    <h4>Company Review Statistics:</h4>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge" th:text="${resume.getUserViews()}">Num</span>
                            User accounts that have <strong>Viewed</strong> my resume:
                        </li>
                        <li class="list-group-item">
                            <span class="badge" th:text="${resume.getCompanyViews()}">Num</span>
                            Companies that have <strong>Viewed</strong> my resume:
                        </li>
                        <li class="list-group-item">
                            <span class="badge" th:text="${resume.getCompanyLikes()}">Num</span>
                            Companies that have <strong>Liked</strong> my resume:
                        </li>
                        <li class="list-group-item">
                            <span class="badge" th:text="${resume.getCompanyPurchases()}">Num</span>
                            Companies that have <strong>Purchased</strong> my contact info:
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
