<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Resume: Preview')"></head>
<!-- Need the scripts up top for the resume fragment -->
<div th:replace="fragments/scripts :: scripts"></div>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='resume')"></nav>
<div class="container">

    <div class="row resume-row">
        <div class="col-md-2 well well-sm">
            <!-- Navigation -->
            <div th:replace="fragments/user-resume-nav :: resume-nav (currentPage='preview')"></div>
        </div>
        <div class="col-md-10 resume-content-container">
            <!-- Content -->
            <h2>Resume Preview</h2>

            <!-- Include the resume -->
            <div th:replace="fragments/resume :: resume (editable=true,visible=true)"></div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
