<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Resume: Work Locations')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='resume')"></nav>
<div class="container">

    <div th:replace="fragments/user-resume-nav :: resume-nav (currentPage='work-locations')"></div>

    <div class="container-fluid">
        <h2>Desired Work Locations</h2>
    </div>

    <div class="row">
        <div class="col-md-7">
            <!-- Contact Info panel -->
            <div class="panel panel-default resume-work-location-panel">
                <div class="panel-heading">
                    <div class="pull-left">
                        <span class="panel-title">Preferred Job Locality</span>
                    </div>
                    <div class="pull-right">
                        <span th:class="'label text-right label-' + ${workLocationStatusColor}"
                              th:text="${workLocationStatus}">Status</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Provide the locations in which you are interested in working. These locations help potential
                        employers understand where you want to work, and can identify open positions available within
                        those locations.</p>

                    <table class="table table-bordered resume-work-location-table">
                        <thead>
                            <tr>
                                <th class="work-location-state-cell">State</th>
                                <th class="work-location-region-cell">Region</th>
                                <th class="text-center action-cell">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(workLocations)}">
                                <td class="text-center empty-cell" colspan="3">No work locations have been added yet.
                                </td>
                            </tr>
                            <tr th:each="workLocation : ${workLocations}">
                                <td class="work-location-state-cell" th:text="${workLocation.state}">State</td>
                                <td class="work-location-region-cell" th:text="${workLocation.region}">Region</td>
                                <td class="text-center action-cell">
                                    <a th:id="'edit-' + ${workLocation.id}" href="#" class="label label-info"
                                       th:onclick="'edit(\'' + ${workLocation.id} + '\', \'' + ${workLocation.state} + '\', \'' + ${workLocation.region} + '\');'">Edit</a>
                                    <a th:id="${workLocation.id}" class="label label-danger" data-toggle="popover"
                                       data-placement="top">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <!-- Add/Update panel -->
            <div class="panel panel-default resume-work-location-panel">
                <div class="panel-heading">
                    <span class="panel-title" id="work-location-title">Add Work Location</span>
                </div>
                <div class="panel-body">
                    <p th:if="${workLocationMessage}" class="alert alert-info" th:text="${workLocationMessage}">
                        Message</p>

                    <form class="form-resume-work-location" name="workLocationForm"
                          th:action="@{/user/resume/work-locations}" method="POST">

                        <input type="hidden" name="id" id="work-location-id"/>

                        <label for="work-location-state" class="sr-only">State</label>
                        <select name="state" id="work-location-state" class="form-control" placeholder="State"
                                required="required" autofocus="autofocus">
                            <option th:each="state : ${states}" th:value="${state.name}"
                                    th:text="${state.name}"></option>
                        </select>

                        <label for="work-location-region" class="sr-only">Region (e.g., city, town, government
                            agency)</label>
                        <input type="text" name="region" id="work-location-region" class="form-control"
                               placeholder="Region (e.g., city, town, government agency)" required="required"
                               autofocus="autofocus"/>

                        <div class="btn-group">
                            <button id="work-location-submit" class="btn btn-default btn-primary" type="submit">Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: function() {
                var str = 'Are you sure?<div class="text-center">';
                str += '<a href="#" class="label label-danger" onclick="remove(\'' + this.id + '\');">Yes</a> ';
                str += '<a href="#" class="label label-default" onclick="cancel();">No</a></div>';
                return str;
            }
        });
    });

    function remove(id) {
        document.location = '/user/resume/work-locations/delete/' + id;
        $('[data-toggle="popover"]').popover('hide');
    }

    function cancel() {
        $('[data-toggle="popover"]').popover('hide');
    }

    function edit(id, state, region) {
        $('#work-location-id')[0].value = id;
        $('#work-location-state')[0].value = state;
        $('#work-location-state')[0].focus();
        $('#work-location-region')[0].value = region;
        $('#work-location-submit')[0].innerHTML = 'Save';
        $('#work-location-submit').addClass('btn-success');
        $('#work-location-submit').removeClass('btn-primary');
        $('#work-location-title')[0].innerHTML = 'Edit Work Location';
    }
</script>
</body>
</html>
