<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="resume (editable,visible)">
    <div class="well well-sm">
        <h3 th:if="${visible} == true and ${resume.introduction.fullName}"
            th:text="${resume.introduction.fullName}"></h3>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title">Contact Information</h4>
                        </div>
                        <div class="pull-right" th:if="${editable} == true">
                            <a th:href="@{/user/resume/contact-info}" class="label label-success">Edit</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div th:if="${visible} == true">
                            <div th:text="${resume.user.email}">E-Mail</div>
                            <div th:each="contactInfo : ${resume.contactInfos}" th:text="${contactInfo.value}">
                                Contact
                            </div>
                        </div>
                        <div th:if="${visible} == false">
                            <div class="text-center">
                                <a th:href="@{/employer/dashboard/like/{id}(id=${resume.resume.id})}"
                                   class="btn btn-info">Like</a>
                                <a th:href="@{/employer/dashboard/purchase/{id}(id=${resume.resume.id})}"
                                   class="btn btn-success">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title">Career Fields</h4>
                        </div>
                        <div class="pull-right" th:if="${editable} == true">
                            <a th:href="@{/user/resume/career-fields}" class="label label-success">Edit</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div th:if="${#lists.isEmpty(resume.laborCategories)}">
                            None Specified
                        </div>
                        <div th:each="laborCategory : ${resume.laborCategories}">
                            <p th:if="${laborCategory.experience} == 1"
                               th:text="${laborCategory.laborCategory} + ' (' + ${laborCategory.experience} + ' year)'">
                                Labor Category (Experience year)</p>
                            <p th:if="${laborCategory.experience} != 1"
                               th:text="${laborCategory.laborCategory} + ' (' + ${laborCategory.experience} + ' years)'">
                                Labor Category (Experience years)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title">Work Locations</h4>
                        </div>
                        <div class="pull-right" th:if="${editable} == true">
                            <a th:href="@{/user/resume/work-locations}" class="label label-success">Edit</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div th:if="${#lists.isEmpty(resume.workLocations)}">
                            None Specified
                        </div>
                        <div th:each="workLocation : ${resume.workLocations}"
                             th:text="${workLocation.region} + ', ' + ${workLocation.state}">Region, State
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title">Clearances</h4>
                        </div>
                        <div class="pull-right" th:if="${editable} == true">
                            <a th:href="@{/user/resume/clearances}" class="label label-success">Edit</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div th:if="${#lists.isEmpty(resume.clearances)}">
                            None Specified
                        </div>
                        <div th:each="clearance : ${resume.clearances}">
                            <b><span th:text="${clearance.type}">Type</span></b>
                            <i><span th:text="${clearance.organization}">Organization</span></i>
                            <span th:if="${clearance.polygraph} != 'None'"
                                  th:text="'(polygraph: ' + ${clearance.polygraph} + ')'">Polygraph</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title">Education</h4>
                        </div>
                        <div class="pull-right" th:if="${editable} == true">
                            <a th:href="@{/user/resume/education}" class="label label-success">Edit</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div th:if="${#lists.isEmpty(resume.educations)}">
                            None Specified
                        </div>
                        <div th:each="education : ${resume.educations}">
                            <div>
                                <b><span th:text="${education.degree}">Degree</span>
                                    <span th:text="${education.field}">Field</span></b>
                                (<span th:text="${education.year}">Year</span>)
                                <i><span th:text="${education.institution}">Institution</span></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title">Certifications</h4>
                        </div>
                        <div class="pull-right" th:if="${editable} == true">
                            <a th:href="@{/user/resume/certifications}" class="label label-success">Edit</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div th:if="${#lists.isEmpty(resume.certifications)}">
                            None Specified
                        </div>
                        <div th:each="certification : ${resume.certifications}">
                            <b><span th:text="${certification.certificate}">Certificate</span></b>
                            (<span th:text="${certification.year}">Year</span>)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <div class="pull-left">
                    <h4 class="panel-title">Key Words</h4>
                </div>
                <div class="pull-right" th:if="${editable} == true">
                    <a th:href="@{/user/resume/key-words}" class="label label-success">Edit</a>
                </div>
            </div>
            <div class="panel-body">
                <div th:if="${#lists.isEmpty(resume.keyWords)}">
                    None Specified
                </div>
                <span th:each="keyWord : ${resume.keyWords}" class="label label-default">
                      <span th:text="${keyWord.word}">Word</span></span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <div class="pull-left">
                    <h4 class="panel-title">Career Objective</h4>
                </div>
                <div class="pull-right" th:if="${editable} == true">
                    <a th:href="@{/user/resume/introduction}" class="label label-success">Edit</a>
                </div>
            </div>
            <div class="panel-body">
                <div th:if="${resume.introduction.objective == ''}">
                    None Specified
                </div>
                <div th:if="${resume.introduction.objective != ''}">
                    <textarea id="resume-objective" class="form-control" contenteditable="false"
                              th:text="${resume.introduction.objective}"></textarea>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <div class="pull-left">
                    <h4 class="panel-title">Work Summary</h4>
                </div>
                <div class="pull-right" th:if="${editable} == true">
                    <a th:href="@{/user/resume/work-summaries}" class="label label-success">Edit</a>
                </div>
            </div>
            <div class="panel-body">
                <div th:if="${#lists.isEmpty(resume.workSummaries)}">
                    None Specified
                </div>
                <div th:each="workSummary : ${resume.workSummaries}" style="padding-bottom: 15px;">
                    <div>&nbsp;
                        <div class="pull-left">
                            <h4 class="panel-title" th:text="${workSummary.jobTitle}">Job Title</h4>
                        </div>
                        <div class="pull-right">
                            <span th:if="${workSummary.employer != null}" style="padding-right:30px;">
                                <i><span th:text="${workSummary.employer}">Employer</span></i>
                            </span>
                            <span th:text="${workSummary.getBeginDate('MMM, yyyy')}">Begin</span>
                            to
                            <span th:if="${workSummary.endDate != null}"
                                  th:text="${workSummary.getEndDate('MMM, yyyy')}">End</span>
                            <span th:if="${workSummary.endDate == null}">Present</span>
                        </div>
                    </div>

                    <textarea th:id="${workSummary.id}" class="form-control" contenteditable="false"
                              th:text="${workSummary.summary}"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script>
        function configureTextarea(id) {
            new SimpleMDE({
                element: document.getElementById(id),
                autoDownloadFontAwesome: false,
                spellChecker: false,
                autosave: false,
                status: false,
                toolbar: false,
                hideIcons: ["link", "image", "fullscreen", "side-by-side"]
            }).togglePreview();
        }
        configureTextarea('resume-objective');
    </script>

    <script th:each="workSummary : ${resume.workSummaries}" th:inline="javascript">
        var id = /*[[${workSummary.id}]]*/ 'id';
        configureTextarea(id);
    </script>
</div>

</body>
</html>
