
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.navbar-static-top {
  margin-bottom: 19px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .container {
  height: 60px;
}
.footer .container .footer-copy {
  height: 60px;
  padding: 20px 0;
}
.footer .container .footer-nav {
  height: 60px;
  padding: 20px 0;
}


.login-panel-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  min-width: 300px;
  max-width: 400px;
}
.login-panel {
  margin-top: 30px;
  max-width: 400px;
}
.login-panel .login-text {
  padding: 0 15px;
}
.login-panel .login-signup-text {
  padding: 20px 0px 0px 15px;
}
.login-panel .form-login {
  padding: 15px;
  margin: 0 auto;
}
.login-panel .form-login .form-control:focus {
  z-index: 2;
}
.login-panel .form-login input {
  margin-bottom: 10px;
}
.login-panel .form-login .forgot-link {
  margin-top: 16px;
}


.signup-panel-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 70%;
  min-width: 300px;
  max-width: 400px;
}
.signup-panel {
  margin-top: 30px;
  max-width: 400px;
}
.signup-panel .signup-text {
  padding: 0 15px;
}
.signup-panel .form-signup {
  padding: 15px;
  margin: 0 auto;
}
.signup-panel .form-signup .form-control:focus {
  z-index: 2;
}
.signup-panel .form-signup input {
  margin-bottom: 10px;
}
.signup-panel .form-signup select {
  margin-bottom: 10px;
}
.signup-panel .form-signup .login-link {
  margin-top: 16px;
}


.forgot-panel-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  min-width: 300px;
  max-width: 400px;
}
.forgot-panel {
  margin-top: 30px;
  max-width: 400px;
}
.forgot-panel .forgot-text {
  padding: 0 15px;
}
.forgot-panel .form-forgot {
  padding: 15px;
  margin: 0 auto;
}
.forgot-panel .form-forgot .form-control:focus {
  z-index: 2;
}
.forgot-panel .form-forgot input {
  margin-bottom: 10px;
}


.contact-text {
  padding: 0 15px;
}
.form-contact {
  padding: 15px;
  margin: 0 auto;
}
.form-contact .form-control:focus {
  z-index: 2;
}
.form-contact input {
  margin-bottom: 10px;
}
.form-contact textarea {
  margin-bottom: 10px;
}


.action-row .action-text {
  min-height: 60px;
}


.panel.price,
.panel.price>.panel-heading{
  border-radius:0px;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel.price:hover{
  box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
  box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}
.panel.price>.panel-heading{
  box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
  text-shadow:0px 3px 0px rgba(50,50,50, .6);
}
.price .list-group-item{
  border-bottom-:1px solid rgba(250,250,250, .5);
}
.panel.price .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.price .panel-footer {
  color: #fff;
  border-bottom:0px;
  background-color:  rgba(0,0,0, .1);
  box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}
.panel.price .btn{
  box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
  border:0px;
}
/* green panel */
.price.panel-green>.panel-heading {
  color: #fff;
  background-color: #57AC57;
  border-color: #71DF71;
  border-bottom: 1px solid #71DF71;
}
.price.panel-green>.panel-body {
  color: #fff;
  background-color: #65C965;
}
.price.panel-green>.panel-body .lead{
  text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-green .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* blue panel */
.price.panel-blue>.panel-heading {
  color: #fff;
  background-color: #608BB4;
  border-color: #78AEE1;
  border-bottom: 1px solid #78AEE1;
}
.price.panel-blue>.panel-body {
  color: #fff;
  background-color: #73A3D4;
}
.price.panel-blue>.panel-body .lead{
  text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-blue .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
/* red panel */
.price.panel-red>.panel-heading {
  color: #fff;
  background-color: #D04E50;
  border-color: #FF6062;
  border-bottom: 1px solid #FF6062;
}
.price.panel-red>.panel-body {
  color: #fff;
  background-color: #EF5A5C;
}
.price.panel-red>.panel-body .lead{
  text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-red .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

.dashboard-nav-container {
  padding-bottom: 20px;
}

.resume-nav-container {
  padding-bottom: 20px;
}
.resume-content-container h2 {
  padding-top: 0px;
  margin-top: 0px;
}

.resume-introduction-about-you-panel {
  margin-top: 34px;
}
.resume-introduction-about-you-panel .panel-heading {
  min-height: 40px;
}
.resume-introduction-about-you-panel .form-resume-introduction-about-you .form-control:focus {
  z-index: 2;
}
.resume-introduction-about-you-panel .form-resume-introduction-about-you input {
  margin-bottom: 10px;
}

.resume-introduction-objective-panel {
  margin-top: 34px;
}
.resume-introduction-objective-panel .panel-heading {
  min-height: 40px;
}
.resume-introduction-objective-panel .form-resume-introduction-objective .form-control:focus {
  z-index: 2;
}
.resume-introduction-objective-panel .form-resume-introduction-objective .btn-group {
  margin-top: 10px;
}

.resume-contact-panel {
  margin-top: 34px;
}
.resume-contact-panel .panel-heading {
  min-height: 40px;
}
.resume-contact-panel .contact-cell {
  width: 100%;
}
.resume-contact-panel .action-cell {
  min-width: 120px;
}
.resume-contact-panel .form-resume-contact .form-control:focus {
  z-index: 2;
}
.resume-contact-panel .form-resume-contact input {
  margin-bottom: 10px;
}

.resume-work-location-panel {
  margin-top: 34px;
}
.resume-work-location-panel .panel-heading {
  min-height: 40px;
}
.resume-work-location-panel .work-location-state-cell {
  width: 50%;
}
.resume-work-location-panel .work-location-region-cell {
  width: 50%;
}
.resume-work-location-panel .action-cell {
  min-width: 120px;
}
.resume-work-location-panel .empty-cell {
  padding: 30px;
}
.resume-work-location-panel .form-resume-work-location .form-control:focus {
  z-index: 2;
}
.resume-work-location-panel .form-resume-work-location input {
  margin-bottom: 10px;
}
.resume-work-location-panel .form-resume-work-location select {
  margin-bottom: 10px;
}

.resume-clearance-panel {
  margin-top: 34px;
}
.resume-clearance-panel .panel-heading {
  min-height: 40px;
}
.resume-clearance-panel .clearance-type-cell {
  width: 30%;
}
.resume-clearance-panel .clearance-organization-cell {
  width: 40%;
}
.resume-clearance-panel .clearance-polygraph-cell {
  width: 30%;
}
.resume-clearance-panel .action-cell {
  min-width: 120px;
}
.resume-clearance-panel .empty-cell {
  padding: 30px;
}
.resume-clearance-panel .form-resume-clearance .form-control:focus {
  z-index: 2;
}
.resume-clearance-panel .form-resume-clearance .input-group {
  margin-bottom: 10px;
}
.resume-clearance-panel .form-resume-clearance input.padded {
  margin-bottom: 10px;
}

.resume-education-panel {
  margin-top: 34px;
}
.resume-education-panel .panel-heading {
  min-height: 40px;
}
.resume-education-panel .education-institution-cell {
  width: 35%;
}
.resume-education-panel .education-field-cell {
  width: 35%;
}
.resume-education-panel .education-degree-cell {
  width: 20%;
}
.resume-education-panel .education-year-cell {
  width: 10%;
}
.resume-education-panel .action-cell {
  min-width: 120px;
}
.resume-education-panel .empty-cell {
  padding: 30px;
}
.resume-education-panel .form-resume-education .form-control:focus {
  z-index: 2;
}
.resume-education-panel .form-resume-education input {
  margin-bottom: 10px;
}

.resume-certification-panel {
  margin-top: 34px;
}
.resume-certification-panel .panel-heading {
  min-height: 40px;
}
.resume-certification-panel .certification-certificate-cell {
  width: 90%;
}
.resume-certification-panel .certification-year-cell {
  width: 10%;
}
.resume-certification-panel .action-cell {
  min-width: 120px;
}
.resume-certification-panel .empty-cell {
  padding: 30px;
}
.resume-certification-panel .form-resume-certification .form-control:focus {
  z-index: 2;
}
.resume-certification-panel .form-resume-certification input {
  margin-bottom: 10px;
}

.resume-career-field-panel {
  margin-top: 34px;
}
.resume-career-field-panel .panel-heading {
  min-height: 40px;
}
.resume-career-field-panel .career-field-lcat-cell {
  width: 90%;
}
.resume-career-field-panel .career-field-experience-cell {
  width: 10%;
}
.resume-career-field-panel .action-cell {
  min-width: 120px;
}
.resume-career-field-panel .empty-cell {
  padding: 30px;
}
.resume-career-field-panel .form-resume-career-field .form-control:focus {
  z-index: 2;
}
.resume-career-field-panel .form-resume-career-field .input-group {
  margin-bottom: 10px;
}
.resume-career-field-panel .form-resume-career-field input.padded {
  margin-bottom: 10px;
}

