<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Dashboard: Team Members')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='dashboard')"></nav>
<div class="container">

    <div class="row dashboard-row">
        <div class="col-md-2 well well-sm">
            <!-- Navigation -->
            <div th:replace="fragments/employer-dashboard-nav :: dashboard-nav (currentPage='members')"></div>
        </div>
        <div class="col-md-10 resume-content-container">
            <div class="content-header">
                <span class="pull-left">
                    <h2>Team Members</h2>
                </span>
                <span class="pull-right">
                    <div th:replace="fragments/employer-active-company :: employer-active-company"></div>
                </span>
            </div>

            <div class="resume-content">
                <div class="col-md-7">
                    <div class="panel panel-default member-list-panel">
                        <div class="panel-heading">
                            <span class="panel-title" id="member-list-title">Member List</span>
                        </div>
                        <div class="panel-body">
                            <p>This table lists co-workers that are team members of your company who can see and
                                purchase resumes on behalf of <b><span th:text="${company.name}">Company Name</span></b>.
                            </p>

                            <div th:if="${#lists.isEmpty(users)}" class="alert alert-info">
                                <p>No members currently available.</p>
                            </div>

                            <div th:if="${#lists.size(users) > 0}">
                                <table class="table table-striped table-bordered member-table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="user-login-cell">Login</th>
                                            <th class="user-email-cell">Email</th>
                                            <th class="action-cell text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user : ${users}">
                                            <td class="user-login-cell" th:text="${user.login}">Login</td>
                                            <td class="user-email-cell" th:text="${user.email}">E-Mail</td>
                                            <td class="action-cell text-center">
                                                <a th:if="${user.id} != ${account.user.id}" th:id="${user.id}"
                                                   class="label label-danger" data-toggle="popover"
                                                   data-placement="top">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Invite form -->
                <div class="col-md-5">
                    <div class="panel panel-default member-invite-panel">
                        <div class="panel-heading">
                            <span class="panel-title" id="member-invite-title">Invite</span>
                        </div>
                        <div class="panel-body">
                            <p>If you have co-workers you would like to add as team members of your company, invite them
                                to sign up here using this form. Once they sign up (or if they are already signed up),
                                they will automatically be added as a member of <b><span
                                        th:text="${company.name}">Company Name</span></b>.</p>

                            <p th:if="${inviteMessage}" class="alert alert-info" th:text="${inviteMessage}">
                                Message</p>

                            <form class="form-member-invite" name="inviteForm"
                                  th:action="@{/employer/dashboard/members/invite}" method="POST">

                                <label for="invite-email" class="sr-only">E-Mail Address to Invite</label>
                                <input type="email" name="email" id="invite-email" class="form-control"
                                       placeholder="E-Mail Address to Invite" required="required" autofocus="autofocus"
                                       th:value="${email}"/>

                                <div class="btn-group">
                                    <button id="certification-submit" class="btn btn-default btn-primary" type="submit">
                                        Send Invitation
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: function() {
                var str = 'Are you sure?<div class="text-center">';
                str += '<a href="#" class="label label-danger" onclick="remove(\'' + this.id + '\');">Yes</a> ';
                str += '<a href="#" class="label label-default" onclick="cancel();">No</a></div>';
                return str;
            }
        });
    });

    function remove(id) {
        document.location = '/employer/dashboard/members/delete/' + id;
        $('[data-toggle="popover"]').popover('hide');
    }

    function cancel() {
        $('[data-toggle="popover"]').popover('hide');
    }
</script>
</body>
</html>
