<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Dashboard: Liked Resumes')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='dashboard')"></nav>
<div class="container">

    <div th:replace="fragments/employer-dashboard-nav :: dashboard-nav (currentPage='resumes-liked')"></div>

    TODO - Liked Resumes

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
