<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="com.decojo" level="ERROR" />
    <logger name="org.flywaydb" level="WARN" />
    <logger name="org.hsqldb" level="DEBUG" />
    <logger name="org.springframework" level="ERROR" />
</configuration>
