<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Home')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage=home)"></nav>
<div class="container">

    <div class="jumbotron">
        <h2>Publish Your Resume</h2>
        <p>Get noticed by defense contracting companies in your area by publishing your resume.</p>
        <p>
            <a class="btn btn-lg btn-primary" th:href="@{/user/dashboard}" role="button">Get Started for Free &raquo;</a>
        </p>
    </div>


</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
