<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title=Login)"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage=login)"></nav>
<div class="container">

    <div class="row login-row">
        <div class="col-md-5">
            <!-- Login Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <div class="login-text">
                        Already have an account? Enter your login information here:
                    </div>

                    <form class="form-login" name="loginform" th:action="@{/login}" method="POST">
                        <p th:if="${param.error}" class="alert alert-danger">Login failed, please try again</p>

                        <label for="login-username" class="sr-only">User Name</label>
                        <input type="text" name="username" id="login-username" class="form-control"
                               placeholder="User Name" required="required" autofocus="autofocus"/>

                        <label for="login-password" class="sr-only">Password</label>
                        <input type="password" name="password" id="login-password" class="form-control"
                               placeholder="Password"/>

                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-primary" type="submit">Login</button>
                        </div>

                        <div class="forgot-link"><a th:href="@{/forgot}">Forgot user name or password</a></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <!-- Sign-Up Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <div class="login-text">
                        Need an account? Create one for free here:
                    </div>

                    <form class="form-signup" name="signupform" th:action="@{/signup}" method="POST">
                        <p th:if="${signupError}" class="alert alert-danger" th:text="${signupError}">Error</p>

                        <label for="signup-username" class="sr-only">User Name</label>
                        <input type="text" name="username" id="signup-username" class="form-control"
                               placeholder="User Name" required="required" autofocus="autofocus"/>

                        <label for="signup-email" class="sr-only">E-Mail Address</label>
                        <input type="email" name="email" id="signup-email" class="form-control"
                               placeholder="E-Mail Address" required="required" autofocus="autofocus"/>

                        <label for="signup-password" class="sr-only">Password</label>
                        <input type="password" name="password" id="signup-password" class="form-control"
                               placeholder="Password"/>

                        <label for="signup-confirm" class="sr-only">Confirm Password</label>
                        <input type="password" name="confirm" id="signup-confirm" class="form-control"
                               placeholder="Confirm Password"/>

                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-primary" type="submit">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
