<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Home')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage=home)"></nav>
<div class="container">

    <div class="jumbotron">
        <h2>A Resume Marketplace for People with Clearances</h2>
        <p>Connecting cleared personnel with federal and defense contracting companies through the sharing of resumes.</p>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
