<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='For Job-Seekers')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage='job-seekers')"></nav>

<div class="hero-unit">
    <div class="container text-center">
        <h2>Publish Your Resume</h2>
        <p>Get noticed by defense contracting companies in your area by signing up and publishing your resume.</p>
        <p><a class="btn btn-lg btn-danger" th:href="@{/signup}" role="button">Free Sign Up</a></p>
    </div>
</div>


<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
