<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title=Login)"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage=login)"></nav>
<div class="container">

    <!-- Login Panel -->
    <div class="login-panel-container">
        <div class="panel panel-default login-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <p th:if="${param.error}" class="alert alert-danger">Login failed, please try again</p>
                <p th:if="${message}" class="alert alert-info" th:text="${message}">Message</p>

                <div class="login-text">
                    Enter your login information here:
                </div>

                <form class="form-login" name="loginform" th:action="@{/login}" method="POST">
                    <label for="login-username" class="sr-only">User Name or E-Mail Address</label>
                    <input type="text" name="username" id="login-username" class="form-control"
                           placeholder="User Name or E-Mail Address" required="required" autofocus="autofocus"/>

                    <label for="login-password" class="sr-only">Password</label>
                    <input type="password" name="password" id="login-password" class="form-control"
                           placeholder="Password"/>

                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>

                    <div class="forgot-link"><a th:href="@{/forgot}">Forgot user name or password</a></div>
                </form>

                <div class="login-signup-text">
                    Need an account? <a th:href="@{/signup}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
