<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title='Sign Up')"></head>
<body>

<nav th:replace="fragments/navbar :: navbar (currentPage=signup)"></nav>
<div class="container">

    <!-- Sign-Up Panel -->
    <div class="signup-panel-container">
        <div class="panel panel-default signup-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Sign Up</h3>
            </div>
            <div class="panel-body">
                <p th:if="${signupError}" class="alert alert-danger" th:text="${signupError}">Error</p>

                <div class="signup-text">
                    Create a free account here:
                </div>

                <form class="form-signup" name="signupform" th:action="@{/signup}" method="POST">
                    <label for="signup-username" class="sr-only">User Name</label>
                    <input type="text" name="username" id="signup-username" class="form-control" placeholder="User Name"
                           required="required" autofocus="autofocus"/>

                    <label for="signup-email" class="sr-only">E-Mail Address</label>
                    <input type="email" name="email" id="signup-email" class="form-control" placeholder="E-Mail Address"
                           required="required" autofocus="autofocus"/>

                    <label for="signup-password" class="sr-only">Password</label>
                    <input type="password" name="password" id="signup-password" class="form-control"
                           placeholder="Password"/>

                    <label for="signup-confirm" class="sr-only">Confirm Password</label>
                    <input type="password" name="confirm" id="signup-confirm" class="form-control"
                           placeholder="Confirm Password"/>

                    <label for="signup-clearance">
                        <input type="checkbox" id="signup-clearance" name="clearance" value="true"/>
                        &nbsp;&nbsp;I am a U.S. citizen and have a clearance.
                    </label>

                    <div class="btn-group pull-right">
                        <button class="btn btn-danger" type="submit">Create Account</button>
                    </div>

                    <div class="login-link">Have an account? <a th:href="@{/login}">Login</a></div>

                    <div class="clearance-warning">
                        <i>Note</i> - it is a <b>felony</b> to lie about possession of a clearance.
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
